<section id="faq" class="faq__section py-5" >
    <div class="container">
        <h2 class="text-center mb-5 title_mixone"data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">Perguntas Frequentes</h2>

        <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample" >
            <div class="accordion-item" data-aos="fade-up"
            data-aos-anchor-placement="center-bottom">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1"
                        aria-expanded="true" aria-controls="faq1">
                        Qual a mensagem principal do filme A Forja?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        Com foco religioso, Kendrick disse que a principal ideia de A Forja é mostrar como as
                        influências positivas
                        podem afetar nas decisões certas que tomamos na vida. Referência bíblica: <em>"Assim como o
                            ferro afia o ferro, o homem afia o seu companheiro"</em> (Provérbios 27:17).
                    </div>
                </div>
            </div>

            <div class="accordion-item" data-aos="fade-up"
            data-aos-anchor-placement="center-bottom">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        Por que o filme se chama A Forja?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        O grupo se chama A Forja porque quer ajudar a moldar o caráter e a fé dos jovens — assim como a
                        forja molda o metal. No filme, o que eles querem moldar é o <strong>coração das
                            pessoas</strong>.
                    </div>
                </div>
            </div>

            <div class="accordion-item" data-aos="fade-up"
            data-aos-anchor-placement="center-bottom">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        O que o filme "A Forja" fala?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        A trama acompanha Isaiah Wright, um jovem de 19 anos perdido e sem direção. Ele recebe um
                        ultimato da mãe: <strong>encontrar um propósito ou sair de casa</strong>.
                    </div>
                </div>
            </div>

            <div class="accordion-item" data-aos="fade-up"
            data-aos-anchor-placement="center-bottom">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        Testemunho de Cameron Arnett
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        “Quero que a igreja entenda que <strong>Deus está desesperadamente apaixonado por nós</strong>.
                        Ele deseja o melhor para nós, quer fazer o melhor em nós e através de nós.” — Cameron Arnett
                        (CBN News).
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                        Quando foi a estreia?
                    </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        O filme <strong>A Forja – O Poder da Transformação</strong> estreou nos cinemas brasileiros em
                        <strong>26 de setembro de 2024</strong>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>