<div class="container-fluid col lg box__carousel">
    <div class="container-fluid col lg box__carousel">
        <h2 id="cast" class="box__carousel--title text-center mb-4 title_mixone"data-aos="flip-up" data-aos-duration="1500">Elenco</h2>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-aos="zoom-out" data-aos-duration="1500">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/7.png" class="d-block w-100 box__carousel--img" alt="Aspen Kennedy">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Aspen Kennedy</h5>
                    <p>Aspen Kennedy nasceu o 16 de janeiro de 1995 em Memphis, Tennessee, EUA. É
                        ator e produtor, conhecido pelo seu trabalho em Um Dia para Morrer (2022), A Forja: O Poder
                        da Transformação (2024)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/8.png" class="d-block w-100 box__carousel--img" alt="Benjamin Watson.jpeg">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Benjamin Watson</h5>
                    <p>Benjamin Watson é um jogador profissional aposentado de futebol americano
                        estadunidense que atuava como tight end na National Football League. Ele foi campeão pelo
                        New England Patriots na temporada de 2004.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/6.png" class="d-block w-100 box__carousel--img" alt="Cameron Arnett">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cameron Arnett</h5>
                    <p>Cameron Arnett nasceu o 14 de outubro de 1960 em Port-au-Prince, Haiti. É
                        ator e produtor, conhecido pelo seu trabalho em Saved by Grace (2022), These Stones (2024) e
                        Jornada nas Estrelas: A Nova Geração (1987)</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/1.png" class="d-block w-100 box__carousel--img" alt="T.C. Stallings">
                <div class="carousel-caption d-none d-md-block">
                    <h5>T.C. Stallings</h5>
                    <p>T.C. Stallings é um ex-atleta profissional que agora está encontrando
                        sucesso no cinema e na televisão. Os desejos de T.C. mudaram do futebol para a atuação
                        em
                        2004, quando ele conseguiu um lugar no King of the Jungle do Animal Planet, um reality
                        show
                        onde ele emergiu como o campeão da 2ª temporada.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/5.png" class="d-block w-100 box__carousel--img" alt="Joseph Callender">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Joseph Callender</h5>
                    <p>Joseph Callender é um ator da SAG-AFTRA com experiência em diversas áreas, incluindo atuação,
                        serviço militar e atuação como bombeiro. Ele participou de projetos notáveis ​​como "True
                        Detective" e "Tyler Perry's Assisted Living", demonstrando versatilidade em sua carreira. </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/4.png" class="d-block w-100 box__carousel--img" alt="Ken Bevel">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Ken Bevel</h5>
                    <p>Kenneth Bevel é um ex-oficial do Corpo de Fuzileiros Navais dos Estados
                        Unidos, pastor e ator norte-americano. Ele co-estrelou os filmes À Prova de Fogo e
                        Corajosos. Atualmente, atua como pastor de Conexões e Missões Locais na Igreja Batista
                        de
                        Sherwood, em Albany, Geórgia.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/3.png" class="d-block w-100 box__carousel--img" alt="Karen Abercrombie">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Karen Abercrombie</h5>
                    <p>Karen Abercrombie é uma atriz premiada, cantora-compositora, mestre em
                        contar histórias oralmente, escritora e produtora. Ela também é ativista e uma ávida
                        ambientalista. Nascida e criada em Aliquippa, PA, Karen é graduada pela American Academy
                        of
                        Dramatic Arts em Nova York.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="img/2.png" class="d-block w-100 box__carousel--img" alt="Priscilla Shirer">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Priscilla Shirer</h5>
                    <p>Priscilla Shirer, nascida em 31 de dezembro de 1974 em Dallas, é uma
                        figura
                        proeminente no evangelicalismo americano. Ela é reconhecida como evangelista, atriz,
                        autora
                        e diretora da organização Going Beyond Ministries. Sua influência se estende através de
                        pregações, livros e filmes.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>