<footer class="footer">
    <div class="container-fluid">
        <div class="footer__content row flex-column flex-sm-row">
            <div class="footer__logo col-12 col-md mb-3 mb-md-0">
                <img class="footer__logo-image" data-aos="fade-right" data-aos-duration="1500" src="img/logo_forja.svg" alt="Logo A Forja">
            </div>

            <div class="footer__section col-6 col-md mb-3 mb-md-0">
                <h5 class="footer__title title_mixone" data-aos="fade-up"
                data-aos-anchor-placement="center-bottom">Menu</h5>
                <ul class="footer__list list-unstyled">
                    <li class="footer__item" data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom"><a class="footer__link" href="#forja">A Forja</a></li>
                    <li class="footer__item" data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom"><a class="footer__link" href="#cast">Elenco</a></li>
                    <li class="footer__item" data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom"><a class="footer__link" href="#trailer">Trailer</a></li>
                    <li class="footer__item" data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom"><a class="footer__link" href="#faq">Perguntas Frequentes</a></li>
                </ul>
            </div>

            <div class="footer__section col-6 col-md" data-aos="fade-left" data-aos-duration="1500">
                <h5 class="footer__title">Leia mais sobre o filme no site abaixo</h5>
                <ul class="footer__social-list list-unstyled d-flex gap-3">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="https://www.adorocinema.com/filmes/filme-313384/"
                            target="_blank" rel="noopener noreferrer">
                            <img src="img/logo_adoro_cinema.svg" alt="Adoro Cinema"
                                class="footer__social-icon img-fluid">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom text-center mt-4" data-aos="fade-up"
        data-aos-anchor-placement="center-bottom">
            <small class="footer__copyright">
                &copy; 2025 - Todos os direitos reservados
                <a class="footer__credit-link"
                    href="https://www.linkedin.com/in/douglas-duarte-55048530b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B%2B09tTtv7SP2cc8fN%2BA1pFQ%3D%3D"
                    target="_blank" rel="noopener noreferrer">
                    adsdouglasduarte
                </a>
            </small>
        </div>
    </div>
</footer>