<header id="forja" class="container-fluid p-3">
    <div class="header__logo"  data-aos="fade-right" data-aos-duration="3000">
        <h1 >
            <img src="img/logo_forja.svg"  alt="A forja">
        </h1>
        <h2>
            L 2024 DRAMA <span class="header__logo--h2">RELACIONAMENTO FAMILIARES</span>
        </h2>
        <h3>
            <span class="header__logo--h3">A forja (HBO) :</span>
            A busca espiritual de um jovem frustrado com sua
            vida o coloca em um caminho desafiador, guiado por um mentor
            de sucesso e por sua fé.</p>
        </h3>
        <a href="#trailer" class="header__logo--btn btn title_mixone">Assistir Agora</a>

    </div>
</header>