<nav class="navbar navbar-expand-lg " data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list text-white fs-1"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand title_mixone" href="#forja">Forja</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link title_mixone" aria-current="page" href="#cast">Elenco</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link title_mixone" href="#trailer">Trailer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link title_mixone" href="#faq" aria-disabled="true">Curiosidades</a>
                </li>
            </ul>
        </div>
    </div>
</nav>